@font-face {
    font-family: "Montserrat";
    src: url("Google_fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url("Google_fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Lora";
    src: url("Google_fonts/Lora/Lora-Italic.ttf");
    font-weight: 400;
}
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Montserrat";
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 90px 0;
}
.section-bg {
background-color: #330000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23BE1482'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFC91C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFC91C' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.first-screen{
    height: 100vh;
    clip-path: ellipse(100% 60% at 50% 35%);
    display: flex;
    align-items: center;
    position: relative;
}
h1 {
    font-family: "Lora";
    font-size: 80px;
    color: white;
}
.btn {
    padding: 13px 20px;
    color: #fff;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}
.btn-bg {
    background: #c74838;
}
.btn-outline {
    border-color: #c74838;
}
.chevron{
    display:block;
    position: absolute;
    left: 50%;
    bottom: 150px;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
    animation: chevron-animation infinite 2s ease-in-out;
}
.chevron img{
    width: 50px;
    transition: all 0.5s ease-in-out;
}
.chevron:hover img{
    transform: translateY(25px);
}
h2 {
    font-family: "Lora";
    font-size: 48px;
    margin: 0 0 60px;
}
p {
    font-size: 20px;
    line-height: 2;
    font-family: "Montserrat";
}
.wh-text{
    color: white;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-wrapper{
    width: 350px;
    height: 290px;
    margin-bottom: 50px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.img-wrapper img{
    object-fit: cover;
}
.d-flex{
    display: flex;
}
.w-60 {
    width: 60%;
}
.w-40 {
    width: 40%;
}
.pr-4 {
    padding-right: 4rem;
}
form {
    display: flex;
    flex-direction:column;
}
input,
textarea {
    padding: 15px;
    font-size: 15px;
    margin-bottom: 15px;
    border: none;
}
input:focus,
textarea:focus{
    outline: none;
}
footer{
    padding: 50px 0;
    text-align: center;
}
.btn:hover {
    background: #e63a23;
}
.chevron:hover {
    transform: translate(-50%, 25px);
    animation-play-state: paused;
}
.img-wrapper:hover{
    transform: scale(1.05);
}
@keyframes chevron-animation {
    0%,
    100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 10px);
    }
}

.blocks{
	display: flex;
}

.block{
	width: 98px;
	height: 98px;
}

.inst{
	background-image: url(".assets/css/face/inst.png");
}

.twit{
	background-image: url(".assets/css/face/twit.png");
}

.face{
	background-image: url(".assets/css/face.png");
}

.inst:hover{
	background-position: 0 -99;
}

.twit:hover{
	background-position: 0 -99;
}

.face:hover{
	background-position: 0 -99;
}
